
fastapi
fastapi-mail
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
email-validator

itsdangerous
Jinja2
mjml-python
uvloop
python-decouple
starlette-admin

sqlmodel
asyncpg
alembic
pgvector

redis[asyncio]
celery                   
celery-sqlalchemy-scheduler
flower

langchain
langchain-core
langchain-community
langgraph
openai

tavily-python
apify-client
ultimate-sitemap-parser
httpx

resend


ragas
promptfoo

tenacity

structlog 
langsmith 
sentry-sdk[fastapi]

PyJWT
google-auth

slowapi
ruff 

pytest
pytest-asyncio
httpx
anyio